.resume {
    padding-left: 20px; /* Adjust as needed */
    padding-right: 100px; /* Adjust as needed */
}
.donut {
    display: inline-block;
    margin: 10px;
    width: 42px;
    height: 42px;
}

.donut .chart-label {
    fill: #333;
    font-size: 0.8em;
}